

<section id="home" class="d-flex justify-content-center align-items-center">
    <div class="container text-center">
        <h1 class="display-4 text-white">Welcome to Our Website</h1>
        <p class="lead text-white">Join us today and enjoy exclusive benefits!</p>
        <a href="/sign-up" class="btn btn-primary btn-lg" target="_blank">Sign Up</a>
    </div>
</section>