<div class="container my-5 container-custom">
    <div class="parent-div row">
      <div class="child-div col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula dui nec suscipit bibendum. Nullam aliquet nibh nec semper consectetur.</p>
            <button class="btn btn-primary" onclick="location.href='/product'">Service</button>
          </div>
        </div>
      </div>
      <div class="child-div col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula dui nec suscipit bibendum. Nullam aliquet nibh nec semper consectetur.</p>
            <button class="btn btn-primary">Service</button>
          </div>
        </div>
      </div>
      <div class="child-div col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula dui nec suscipit bibendum. Nullam aliquet nibh nec semper consectetur.</p>
            <button class="btn btn-primary">Service</button>
          </div>
        </div>
      </div>
      <div class="child-div col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula dui nec suscipit bibendum. Nullam aliquet nibh nec semper consectetur.</p>
            <button class="btn btn-primary">Service</button>
          </div>
        </div>
      </div>
      <div class="child-div col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula dui nec suscipit bibendum. Nullam aliquet nibh nec semper consectetur.</p>
            <button class="btn btn-primary">Service</button>
          </div>
        </div>
      </div>
      <div class="child-div col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula dui nec suscipit bibendum. Nullam aliquet nibh nec semper consectetur.</p>
            <button class="btn btn-primary">Service</button>
          </div>
        </div>
      </div>
      <div class="child-div col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula dui nec suscipit bibendum. Nullam aliquet nibh nec semper consectetur.</p>
            <button class="btn btn-primary">Service</button>
          </div>
        </div>
      </div>
      <div class="child-div col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula dui nec suscipit bibendum. Nullam aliquet nibh nec semper consectetur.</p>
            <button class="btn btn-primary">Service</button>
          </div>
        </div>
      </div>
      <div class="child-div col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula dui nec suscipit bibendum. Nullam aliquet nibh nec semper consectetur.</p>
            <button class="btn btn-primary">Service</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  